* {
    box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, sans-serif;
	background-color: #e2cced;
}
/*nav è la banda sopra viola scuro*/
.nav {
	background-color: #5a4166;
	border-bottom: 1.5px solid #e2cced;
	box-shadow: 0px 1px 4px black;
}
/*centronav è la scritta della banda sopra*/
.centratonav{
	width:550px;
	margin: auto;
	padding: 10px;
	text-align: center;
}
/*contenuto è il contenuto del body*/
.contenuto {
	width: 550px;
	margin: auto;
	padding: 15px;
	text-align: center;
	padding-bottom: 35px;
}
.tab_input{
	text-align: left;
	margin: auto;
}
.input_dati_personali{
	width: 300px;
}
input{
	font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, sans-serif;
}
/*font della scritta REGISTRATI*/
ul.navlinks{
	font-weight: bold;
	padding-left: 0px;
}
ul.navlinks li {
	display: inline;
	margin: 10px;
}
/*font della scritta REGISTRATI*/
ul.navlinks li a{
	text-decoration: none;
	color: #e2cced;
}



/*
#form_restituzione{
	text-align: left;
	width: max-content;
}*/