* {
    box-sizing: border-box;
}	
body {
	background-image: url("https://cdn.wallpapersafari.com/6/86/GIXWCM.jpg");
	margin: 150px;
	margin-left: 300px;
	margin-right: 300px;
	padding-bottom: 50px;
}
h1,h2{
	letter-spacing: 2px;
	text-shadow: 0 0 3px darkblue;
	font-family: 'Lucida Handwriting';
}
.contenuto {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 100px;
}
form{
	font-family: 'Sofia';
	font-size: 20px;
	padding: 100px ;
	border: 2px;
	background-color: white;
	border-radius: 5%;
	opacity: 0.6;
}
.tab_innput{
	width: 100%;
	text-align: center;
}
input{
	font-size: 20px;
	font-family: 'Sofia';
	color: whitesmoke;
    border-color: black;
	border-radius: 10%;
	border-style: double;
	background-color: darkblue;
    display: block;	
}

.accedi{padding-top: 20px;}





/*
#form_restituzione{
	text-align: left;
	width: max-content;
}*/