* {
    box-sizing: border-box;
}	
body {
	background-image: url("https://www.xtrafondos.com/wallpapers/resoluciones/23/superman-adios-fanart_1280x720_11421.jpg");
	font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, sans-serif; 
    border-radius: 20px;
    border: 2px black;
    border-style: groove;
	margin: 180px;
	margin-left: 300px;
	margin-right: 300px;
	padding-bottom: 50px;
}
.titoli{
	text-align: center;
	font-family: monospace;
	font-stretch: expanded;
	font-size: 23px;
}
/*contenuto è il contenuto del body*/
.contenuto {
	align-items: center;
	margin-top: 100px;
}
.tab_input{
	text-align: center;
	margin-top: 70px;
	padding-left: 350px;
	margin-block-start: 40px;
	font-size: 20px;
}
/*bottone accedi*/
input{
	align-items: center;
	font: 20px;
	font-family: serif;
    border-color: #5a4166;
	border-radius: 10%;
    display: block;
	margin: auto;
}

.accedi{padding-top: 20px;}





/*
#form_restituzione{
	text-align: left;
	width: max-content;
}*/