body{font-family: sans-serif;}

/*header*/
.header{background-color: rgb(205, 9, 9); height: 15%; width: 100%; top:0; left: 0; position: fixed;}
.logo{width: 80px; padding-top: 8px; float: left; display: block; padding: 0;}
.header nav ul{list-style: none; padding: 0; width: 100%; max-width: 1200px; float: right;}
.header nav ul ul{display: none; position: absolute; top: 100%; left: 0; width: 100%;}
.header nav ul li{position: relative; float: right; width: 29%; text-align: center; margin-top: auto;margin-right: 10px;}
.header nav ul li:hover ul{display: block;}
.header nav ul li li{position: relative; float: none; width: 100%; border: none;}
.header nav ul li a{display: block; text-decoration: none; color: white; padding: 25px 25px;}
.header nav ul ul li a{font-size: 1rem; border-bottom: solid 2px rgb(255, 0, 0); margin-right: 10px; margin-left: 10px;}
.header nav ul ul li:first-child a{border-top: solid 2px red;}
.header nav ul li:hover a{background: white; color: rgb(252, 0, 0); text-decoration: none; transition: 0.5s;}
.header nav ul ul li:hover a{background: red; color:white;}


/*Telefono*/
@media screen and (max-width: 767px){
     .header nav ul{float: none; display: block; width: 100%;}
     .header nav ul li{position: static;}
}