*{
    box-sizing: border-box;
    background-color: black;
}

.page-container{
    max-width: 1300px;
    border: 1px solid red; 
    margin: auto;
}
header{
    border:1px solid blue ;
}
header h1{ font-size: 50px; text-align: center;color: white;}
.central-container{display: flex;}
menu{
    width: 30%;
    border: 1px solid red;
    margin: 0;
    padding: 10px; 

}
menu h2{text-align: center;}
menu ul{list-style-type: none;}
menu li{background: rgb(red, green, blue);padding: 10px; margin: 5px; border-radius: 3px;}
menu li:hover{background: rgb(red, green, blue) ;}
main{
    width: 50%;
    border: 1px solid red; 
    margin: 0;
    padding: 10px; 

}
aside{
    width: 25%;
    border: 1px solid red; 
    margin: 0;
    padding: 10px; 
}

footer{border: 1px solid red; width: 100%;padding: 10px;}
footer p{text-align: center;}

@media(max-width: 768px){
    .central-container{flex-wrap: wrap;}
    menu, 
    main, 
    aside{width: 100%;}
}