html,body {
    padding: 0px;
    margin: 100px;
    border: #333;
    color: #333;
    background-color: #5a4166;
}
h1 {
    margin: 0;
    margin-bottom: 20px;
	font-size: 24px;
    text-align: center;
}
form {
    padding: 40px;
    background-color: #e2cced;
    border-radius: 20px;
    border: 4px solid black;
    border-style: dashed;
    width: 360px;
    margin: 30px auto;
}
input {
	font: 14px 'Open Sans', sans-serif;
    border: 2px solid #ccc;
    padding: 6px;
    display: block;
	margin-bottom: 10px;
    width: 96%;
}
button {
    font: 14px 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
	text-transform: uppercase;
}