*{box-sizing: border-box;}
body {background: #6dd5c3;}
html, body{height: 100%; width: 100%;}

h1{text-align: center; text-decoration: dotted; color: black; font-style: oblique;}

.cards{max-width: 1300px; margin: 60px auto; display: flex; flex-wrap: wrap;}
.card{border: 2px solid black; width: 33.33%; float: left; background:darkcyan; height: 300px;}
.card__image{width: 100%; height: 75%; object-fit: cover;}
.card__copy{padding: 5px; background:darkcyan; display: flex; align-items: center;}
.card__copy * {text-align: center;}
a {
  color:black;
  background-color:darkcyan;
  text-align: center; 
  font-family: verdana;
  font-size: 19px;
  font-weight: bold;
}

.trama__contenuto {display: flex; width: 100%;}
.trama__contenuto__testo {width: 60%;}
.trama__contenuto__video {width: 40%;}
.trama__contenuto__video iframe {width: 100%;}

@media (max-width: 768px) {
  .card {width: 100%;}
  .trama__contenuto {flex-direction: column-reverse;}
  .trama__contenuto__testo {width: 100%;}
  .trama__contenuto__video {width: 100%;}
}


